[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[[source]]

url = "https://repo.fury.io/run2dev/"
verify_ssl = true
name = "fury"


[dev-packages]

pytest = "*"
pytest-watch = "*"


[packages]

peewee = "*"
requests-html = "*"
structlog = "*"
luigi = "*"
tenacity = "*"
pandas = "*"
plotly = "*"
cython = "*"
tqdm = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
cufflinks = "*"
schedule = "*"
luigi-discord = "*"
dash = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"


[requires]

python_version = "3.6"
